@CHARSET "UTF-8";

@font-face {
	font-family: 'Brazil';
	src: url('../files/brazil.otf') format('truetype');
}

html {
	background-image: url(../img/background.jpg);
	background-position: center center;
	background-size: round auto;
}

body {
	background: transparent !important;
}

.body-content {
	margin-left: auto ;
  	margin-right: auto ;
}

.jumbotron {
	background-color: white !important;
	border-radius: 15px !important;
}

.logo {
	font-family: 'Brazil';
	width: 33% !important;
	padding: 10px;
}

.logo h1 {
	color: #00356a;
}

.div-right {
	float: right;
}

.logo-spot {
	font-size: 42px;
	text-align: center;
	color: green !important;
}

.sidebar {
	
}

.sidebar #search {
	background-color: #fff;
	background-image: url("../img/search.png");
	background-position: right center;
	border: 1px solid #f1f1f1;
	background-repeat: no-repeat;
	float: left;
	padding: 10px 35px 12px 10px;
    width: 97%;
    color: #5e656d !important;
    border-radius: 5px;
}

fieldset {
	width: 100%;
}

.search-form {
    clear: both;
    float: left;
    width: 100%;
}

.sidebar {
    float: right;
    max-width: 311px;
    width: 31.2%;
}

.sidebar-list {
	list-style: none outside none;
	padding: 0;
}

.widget {
    margin-bottom: 27px;
    overflow: hidden;
}

.index-context {
    float: left;
    margin-bottom: 10px;
    width: 65.6%;
}

.index {
	margin: 0px;
	padding: 0px;
	float: none;
    min-height: 100px;
    overflow: hidden;
}

.ui-autocomplete-loading {
	background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat !important;
}

.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	_width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #f1f1f1;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 1px;
	*border-bottom-width: 1px;
	color: #5e656d !important; 
}

.ui-menu-item > a.ui-corner-all { 
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap
}

.ui-autocomplete .ui-state-hover, .ui-autocomplete .ui-state-active { 
	color: #ffffff !importatn;
	text-decoration: none;
	background-color: #0088cc !important;
	border-radius: 5px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}

.center {
	text-align: center;
}

.not-found {
	height: 150px;
}