@CHARSET "UTF-8";

@font-face {
	font-family: 'Brazil';
	src: url('brazil.otf') format('truetype');
}

html {
	background-image: url(../img/background.jpg);
	background-position: center bottom;
	background-size: round auto;
	height: 100%;
}

body {
	background: transparent !important;
}

.body-content {
	margin-left: auto ;
  	margin-right: auto ;
}

.jumbotron {
	background-color: white !important;
	border-radius: 25px !important;
}

.logo {
	font-family: 'Brazil';
	width: 33% !important;
	padding: 10px;
}

.logo h1 {
	color: #00356a;
}

.div-right {
	float: right;
}

.logo-spot {
	font-size: 42px;
	text-align: center;
	color: green !important;
}